@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Delete Quote";

    var customerName = "";
    var OrderDate = "";
    var Depth = "";
    var Width = "";
    var NumDrawers = "";
    var SurfaceMaterial = "";
    var DeliveryTime = "";
    var Price = "";
    var QuoteId = "";

    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].AsInt() > 0)
        {
            QuoteId = Request.QueryString["ID"];
            var db = Database.Open("DeskLibrary");
            var dbCommand = "SELECT * FROM DeskQuotes WHERE ID = @0";
            var row = db.QuerySingle(dbCommand, QuoteId);
            if (row != null)
            {
                customerName = row.customerName;
                OrderDate = row.OrderDate.ToString();
                Depth = row.Depth.ToString();
                Width = row.Width.ToString();
                NumDrawers = row.NumDrawers.ToString();
                SurfaceMaterial = row.SurfaceMaterial.ToString();
                DeliveryTime = row.DeliveryTime.ToString();
                Price = row.Price.ToString();
            }
            else
            {
                Validation.AddFormError("No quote was found for that ID.");

            }
        }
        else
        {
            Validation.AddFormError("No quote was found for that ID.");
        }
    }

    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        QuoteId = Request.Form["QuoteId"];
        var db = Database.Open("DeskLibrary");
        var deleteCommand = "DELETE FROM DeskQuotes WHERE ID = @0";
        db.Execute(deleteCommand, QuoteId);
        Response.Redirect("~/SearchQuotes.cshtml");
    }

}

<h2>Delete Quote</h2>
@Html.ValidationSummary()

<form method="post">
    <fieldset>
        <legend>Quote Information</legend>

        <p>
            <span>Name:</span>
            <span>@customerName</span>
        </p>

        <p>
            <span>Date:</span>
            <span>@OrderDate</span>
        </p>

        <p>
            <span>Depth:</span>
            <span>@Depth</span>
        </p>

        <p>
            <span>Width:</span>
            <span>@Width</span>
        </p>

        <p>
            <span>Number of Drawers:</span>
            <span>@NumDrawers</span>
        </p>

        <p>
            <span>Material:</span>
            <span>SurfaceMaterial</span>
        </p>

        <p>
            <span>Delivery Time:</span>
            <span>@DeliveryTime</span>
        </p>

        <p>
            <span>Price:</span>
            <span>@Price</span>
        </p>

        <input type="hidden" name="QuoteId" value="@QuoteId" />
        <p><input type="submit" name="buttonDelete" value="Delete Quote" /></p>
    </fieldset>
</form>